* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
}
main {
  background-image: url('assets/img/background-image1.png'); /* Replace with the actual path to your background image */
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  font-size: 20px;
  height: 80px;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: white;
}
.header-position {
  display: flex;
  gap: 60px;
  position: relative;
  left: 150px;
}
.logo-place {
  position: relative;
  left: 50px;
  width: 85%;
}
.nl-place {
  position: relative;
  left: 450px;
  width: 3%;
  height: 60%;
  top: 22px;
}
li {
  display: flex;
  position: relative;
  top: 25px;
  border: 2px solid;
  border-radius: 50px;
  padding: 5px;
  color: black;
}
.inlog-button li {
  border: 2px solid;
  height: 20px;
  position: relative;
  top: 30px;
  border-radius: 20px;
  left: 480px;
  padding: 5px;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
}
.sticky + .content {
  padding-top: 102px;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  position: relative;

}
.form-container input,
.form-container select {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #0056b3;
  width: 100%;
}
footer {
  height: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail-footer {
  width: 97px;
  height: 127px;
  background-color: #336A86;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.contact-footer {
  color: #336A86;
  margin-top: 20px;
}
.e-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.e-mail-text {
  border: 2px solid #336A86;
  border-radius: 7px;
  padding: 10px;
  width: 210px;
  position: relative;
  right: 330px;
  top: 30px;
}
.login-button {
  display: flex;
  border: 2px solid #336A86;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  position: relative;
  right: 90px;
  bottom: 9px;
}
.niek {
  margin-top: 20px;
  text-align: center;
}
.social-media img {
  margin: 0 5px;
}
#passengers{
  width: 100%;
}
h2{
  position: relative;
  bottom: 30px;
}
